

<div class="dd-wrap">

<div class="dd-button">по цвету<span class="filter-info"><span class="info"></span><span class="clear">✕</span></span></div>
<div class="dd-container popup">
<span class="close">&#10005;</span>
<div data-measurment="" data-name='69' class="list">

<label class="filter-menu-new__variant filter-color" title="Хаки ткань">
    <input type="checkbox" name="filter_69" value="119"  />
    <span style="background-color: #275a23"></span>
</label>
    <span class="show-all">Показать еще</span>
</div>

<div class="actions">
    <span class="apply">применить</span>
</div>

</div>
</div>